<br/>
<div class="row">
  <div class="col-xs-6">
    <h2>Enterprise edition: $99 a month</h2>
    <h6>unlimited accounts, unlimited screens, unlimited components, unlimited bandwidth, unlimited storage, unlimited advertisers, unlimited SignagePlayers, unlimited campaigns, unlimited users, unlimited business, unlimited branding, unlimited... everything!</h6>
    <hr/>
    <div class="pull-left">
      <h3>Enterprise edition status</h3>
      <label *ngIf="getAccountStatus()">all is good, enterprise account is active & working</label>
      <label style="color: red" *ngIf="!getAccountStatus()">account inactive avoid interruption & update billing info</label>
    </div>

    <div *ngIf="getAccountStatus()">
      <span (click)="onChangeAccountStatus(false)" style="cursor: hand; font-size: 4em; padding-right: 60px; padding-top: 20px; color: green" class="fa fa-check-circle pull-right"></span>
    </div>
    <div *ngIf="!getAccountStatus()">
      <span (click)="onChangeAccountStatus(true)" style="cursor: hand; font-size: 4em; padding-right: 60px; padding-top: 20px; color: red" class="fa fa-minus-circle pull-right"></span>
    </div>
    <div class="clearfix"></div>
    <br/>
    <hr/>
    <h3 class="pull-left">Payment method</h3>
    <select class="form-control pull-right" style="width: 150px; margin-top: 20px">
      <option>Credit card</option>
      <option>Paypal</option>
    </select>
    <br/>
    <br/>
    <div class="clearfix"></div>
    <hr style="color: red"/>
    <ul>
      <li>Enterprise edition benefits</li>
      <li>Enterprise license agreement</li>
      <li>Video tutorials</li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <center>
            <img src="http://i76.imgup.net/accepted_c22e0.png">
          </center>
        </h3>
      </div>
      <div class="panel-body">
        <form [ngFormModel]="contGroup">
          <tabs>
            <tab [tabtitle]="'Payment'">
              <input [ngFormControl]="contGroup.controls['billing_companyName']" type="text" class="form-control" placeholder="Company name" required>
            </tab>
            <tab [tabtitle]="'Billing'"></tab>
            <tab [tabtitle]="'Shipping'"></tab>
          </tabs>
        </form>
      </div>
    </div>
  </div>
</div>
