* {
    border-radius: 0 !important;
}

.btn {
    margin: 0;
    height: 40px;
    width: 35px;
    position: relative;
    top: -10px;
    padding-left: 10px;
    padding-right: 10px;
    left: 15px;
    color: #646465;
}
.list-group {
    padding-right: 15px;
}
.dual-list .list-group {
    margin-top: 8px;
}

li {
    cursor: hand;
}
.list-arrows {
    padding-top: 100px;
}

.list-arrows button {
    margin-bottom: 20px;
}
