.list-group {
    padding-right: 15px;
}
.dual-list .list-group {
    margin-top: 8px;
}

li {
    cursor: hand;
}
.list-arrows {
    padding-top: 100px;
}

.list-arrows button {
    margin-bottom: 20px;
}
