<div class="container">
  <form [ngFormModel]="notesForm" (ngSubmit)="onSubmit(notesForm.value)">
    <div class="row">
      <div class="col-xs-6">
        <div class="inner userGeneral tallPanel">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div *ngIf="businessId == 1">
                new user under Enterprise account
                <i class="fa fa-users pull-right"></i>
              </div>
              <div *ngIf="businessId > 1">
                will be created under business: {{businessId}}
                <i class="fa fa-user-plus pull-right"></i>
              </div>

            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <input type="text" class="longInput form-control" placeholder="name" required [ngFormControl]="notesForm.controls['userName']">
              </li>
              <li class="list-group-item">
                <div ngControlGroup="matchingPassword" [class.invalid]="passwordGroup.touched && !passwordGroup.valid">
                  <div *ngIf="!passwordGroup.valid" class="alert alert-warning alert-dismissible" role="alert">
                    needs matching password 4+ characters
                  </div>
                  <input required id="password" class="longInput form-control" placeholder="password (4+ characters)" type="password" ngControl="password">
                  <input required id="confirmPassword" class="longInput form-control" placeholder="password again" type="password" ngControl="confirmPassword">
                </div>
                <!--<p>Valid?: {{notesForm.valid}}</p>-->
                <!--<pre>{{notesForm.value | json}}</pre>-->
              </li>
              <li class="list-group-item">
                <!--<input type="text" class="longInput form-control" placeholder="privileges" required [ngFormControl]="notesForm.controls['privileges']">-->
                <select class="form-control longInput" (change)="onPriveleges($event)" [ngFormControl]="notesForm.controls['privileges']">
                  <option *ngFor="#item of priveleges">{{item.getKey('name')}}</option>
                </select>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="inner userGeneral tallPanel">
          <div class="panel panel-default">
            <div class="panel-heading">user access keys
              <i class="fa fa-key pull-right"></i>
            </div>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="#item of accessKeysArr; #index=index">
                Key {{index}}
                <div class="material-switch pull-right">
                  <input (click)="onKeyChange($event,index)" [(ngModel)]="accessKeys[index]" id="{{item}}" name="{{item}}" type="checkbox"/>
                  <label [attr.for]="item" class="label-default"></label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!notesForm.valid">Submit</button>
  </form>
</div>
