<div style="position: relative; top: 10px">
  <a class="btns" href="#" (click)="$event.preventDefault(); !simpleGridTable || simpleGridTable.getSelected() == null ? '' : modalAddUser.open('lg')" [ngClass]="{disabled: !simpleGridTable || simpleGridTable.getSelected() == null}" href="#"><span class="fa fa-plus"></span></a>
  <a class="btns" href="#" (click)="$event.preventDefault(); !simpleGridTable || simpleGridTable.getSelected() == null ? '' : launchStudio()" [ngClass]="{disabled: !simpleGridTable || simpleGridTable.getSelected() == null}" href="#"><span class="fa fa-rocket"></span></a>
  <a class="btns" href="#" (click)="$event.preventDefault(); !simpleGridTable || simpleGridTable.getSelected() == null ? '' : removeBusinessUser()" [ngClass]="{disabled: !simpleGridTable || simpleGridTable.getSelected() == null}" href="#"><span class="fa fa-remove"></span></a>
  <a class="btns" href="#" (click)="$event.preventDefault(); !simpleGridTable || simpleGridTable.getSelected() == null ? '' : modalChangePassword.open()" [ngClass]="{disabled: !simpleGridTable || simpleGridTable.getSelected() == null}" href="#"><span class="fa fa-key"></span></a>
</div>
<hr/>
<modal #modalAddUser [animation]="animationsEnabled" (onClose)="onModalClose($event)">
  <modal-header [show-close]="true">
    <h4 class="modal-title">
      <span class="fa fa-user"></span>
      Add new user
    </h4>
  </modal-header>
  <modal-body>
    <addUser [businessUser]="selectedBusinessUser()" [priveleges]="m_priveleges"></addUser>
  </modal-body>
  <modal-footer [show-default-buttons]="false"></modal-footer>
</modal>

<modal #modalChangePassword [animation]="animationsEnabled" (onClose)="onModalClose($event)">
  <modal-header [show-close]="true">
    <h4 class="modal-title">
      <span class="fa fa-key"></span>
      change password
    </h4>
  </modal-header>
  <modal-body>
    <changePass [businessUser]="selectedBusinessUser()"></changePass>
  </modal-body>
  <modal-footer [show-default-buttons]="false"></modal-footer>
</modal>


<br/><!--<div *ngIf="showUserInfo == 'null' || !m_businesses || m_businesses.size == 0">--><!--<h1 class="embossed">USER DETAILS</h1>--><!--<h6 class="embossedSmaller embossed">select user(s) from the list to load up the related properties</h6>--><!--</div>-->
<div *ngIf="showUserInfo">
  <UserInfo [user]="showUserInfo"></UserInfo>
</div>
<div *ngIf="m_businesses && m_businesses.size > 0 && !showUserInfo">
  <simpleGridTable #userSimpleGridTable>
    <thead>
    <tr>
      <th sortableHeader="name" [sort]="sort">name</th>
      <th sortableHeader="businessId" [sort]="sort">business</th>
      <th>access keys</th>
      <th>privileges (id)</th>
      <th>privileges (name)</th>
    </tr>
    </thead>
    <tbody>
    <tr class="simpleGridRecord" [table]="userSimpleGridTable" simpleGridRecord *ngFor="#item of m_businesses | OrderBy:sort.field:sort.desc; #index=index" [item]="item" [index]="index">
      <td style="width: 20%" simpleGridData (labelEdited)="onLabelEdited($event,'name')" editable="true" field="name" [item]="item"></td>
      <td style="width: 8%" simpleGridData field="businessId" [item]="item"></td>
      <td style="width: 20%" simpleGridDataChecks (changed)="setAccessMask($event)" [item]="item" [checkboxes]="getAccessMask(item)"></td>
      <td style="width: 12%" simpleGridData field="privilegeId" [item]="item"></td>
      <td style="width: 40%" simpleGridDataDropdown [testSelection]="selectedPriveleges()" (changed)="setPriveleges($event)" field="name" [item]="item" [dropdown]="m_priveleges"></td>
      <!-- <td simpleGridDataImage color="dodgerblue" [field]="item.getKey('studioLite') == '0' ? 'fa-circle' : 'fa-circle-o'" [item]="item"></td> -->
    </tr>
    </tbody>
  </simpleGridTable>
</div>